body{
background-color: #011627;
color: #FDFFFC;
text-align: center;
border: 40px solid #2EC486;
border-top: 0px;
margin: 0px;
}

h1{
  color: WHITE;
  font-family: 'Lobster', cursive;
  padding-top: 2%;
  padding-left: 20%;
  padding-right: 20%;
}
div{
  color: white;
padding-top: 1%;
padding-left: 20%;
padding-right: 20%;
}
h6{
  color: white;
  padding-top: 1%;
  padding-left: 20%;
  padding-right: 20%;

}
#sub{
  background-color: #FF9F1C;
  height: 80px;
  width: 150px;
  margin: 4px;
  margin-top: 12px;
  font-size: 1em;
  border-radius: 25px;
}
